<p>just because it kept asking for it</p>

<p>either this page redirects to profile or fix contact create to be ajax call</p>

<p> this page is here because it keeps looking for a view.  I think the create contact form isn't sending JSON datatype.</p>
