<h1>index.html.erb</h1>

<h2>All bcards</h2>

    <div class="friend">
        <div class="front">
            <a href="/"><img src="<%=asset_url('avatar14.jpg')%>" alt="Avatar"></a>
        </div>
        <div class="back">
            <span class="friend-name">Avatar</span>
            <div class="actions">
                <link_to "Show" />
            </div>
        </div>
    </div>

    <div class="friend">
        <div class="front">
            <a href="/"><img src="<%=asset_url('avatar17.jpg')%>" alt="Avatar"></a>
        </div>
        <div class="back">
            <span class="friend-name">Avatar</span>
            <div class="actions">
                <link_to "Show" />
            </div>
        </div>
    </div>

    <div class="friend">
        <div class="front">
            <a href="/"><img src="<%=asset_url('avatar2.jpg')%>" alt="Avatar"></a>
        </div>
        <div class="back">
            <span class="friend-name">Avatar</span>
            <div class="actions">
                <link_to "Show" />
            </div>
        </div>
    </div>
